backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
dominate==2.3.5
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.0
pexpect==4.6.0
psycopg2==2.7.6.1
ptyprocess==0.6.0
requests==2.21.0
six==1.12.0
SQLAlchemy==1.2.15
submit50==2.4.9
termcolor==1.1.0
tqdm==4.28.1
urllib3==1.24.1
visitor==0.1.3
Werkzeug==0.14.1
WTForms==2.2.1
